@use '../Partials/Fonts/Fonts.scss';

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2em 0;
    h3{
        font-family: 'Lobster', sans-serif;
        font-size: 2.8em;
        color: #414141;
    }
    p{
        margin: 0;
        color: #727272;
        font-family: 'Open-Sans', sans-serif;
        font-size: 1.2em;

    }
  }
  